/* main */
@use "./base/reset";
@use './base/typography' as type;
@use "./pages/home";

body {
    background: #DCF5FF;
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: 'Nunito', 'sans-serif';
}
